@import '_constants';

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (max-width: $break-small) {
    flex-direction: column-reverse;
  }
}

.navigator {
  z-index: 100;
  background-color: lighten($background, 4);
  border-top: 2px solid lighten($background, 8);
  color: $bluewhite;
  display: flex;
  justify-content: center;
  height: 3.2rem;
}

.activeApp {
  * {
    color: white;
  }
}

.link {
  color: lighten($blueblack, 20);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;

  span {
    margin-top: 0.2rem;
  }
}
