@import '_constants';

.container {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.map {
  min-height: 100%;
  min-width: 100%;
}

.title {
  flex: 1;
}

.middle {
  left: 0;
  -webkit-transform: scaleX(-1); /* Chrome, Safari, Opera */
  transform: scaleX(-1);
  // @media(max-width: $break-small) {
  //   bottom: 14rem;
  // }
  // @media(min-width: $break-large) {
  top: 8rem;
  // }
}

.verticalContainer {
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1rem;
  ::-webkit-scrollbar {
    display: none;
  }
}

@keyframes from_top {
    0%   {opacity: 0.0; margin-top: -5rem;}
    30%   {opacity: 0.0}
    100% {opacity: 1.0; margin-top: 1.4rem;}
}

@keyframes from_bottom {
    0%   {opacity: 0.0; margin-bottom: -5rem;}
    30%   {opacity: 0.0}
    100% {opacity: 1.0; margin-bottom: 1.4rem;}
}

.topbar {
  top: 0;
  margin-top: 1.4rem;
  animation-name: from_top;
  animation-duration: 0.5s;
}

.bottombar {
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 1.4rem;
  animation-name: from_bottom;
  animation-duration: 0.5s;
  background-color: lighten($background, 4);
  border: 2px solid lighten($background, 4);
  // border-radius: 0.5rem;

  button {
    background-color: lighten($background, 4);
    border: 2px solid lighten($background, 4);
    cursor: pointer;
    color: lighten($blueblack, 80);

    &:hover {
      color: lighten($blueblack, 20);
    }
  }

  input {
    width: 80%;
  }
}

.bar {
  background-color: lighten($background, 4);
  border: 2px solid lighten($background, 4);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;

  @media(max-width: $break-small) {
    max-width: 64%;
  }
  @media(min-width: $break-large) {
    max-width: 50rem;
  }

  button {
    border: 2px solid lighten($background, 20);
    border-radius: 0.5rem;
    background-color: transparent;
    color: lighten($blueblack, 20);
    padding: 0.5rem;
    margin: 0.3rem;
    font-size: 1rem;
    font-weight: 300;

    div {
      display: inline-block;
      min-width: 1.2rem;
    }
  }
}

.bottom {
  left: 0;
  -webkit-transform: scaleX(-1); /* Chrome, Safari, Opera */
  transform: scaleX(-1);
  // @media(max-width: $break-small) {
  //   bottom: 10rem;
  // }
  // @media(min-width: $break-large) {
  top: 18rem;
  // }
}

.sidebar {
  position: absolute;
  z-index: 999;
  background-color: lighten($background, 4);
  border: 2px solid lighten($background, 4);
  // opacity: 0.8;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: none;
  overflow: hidden;

  button {
    // border-radius: 0.5rem;
    // overflow: hidden;
    border: none;
    background-color: lighten($background, 4);
    color: lighten($blueblack, 20);
    padding: 0.5rem;
  }
}

.buttonEnabled {
  * {
    color: lighten($blueblack, 80);
  }
}
